@model SCUTClubManager.Models.ChangePasswordModel

@{
    ViewBag.Title = "更改密码";
}

@Html.Partial("_Confirmation")

<script type="text/javascript">
    $('form').ajaxForm({
        success: notify,
        error: function (e) {
            debugger;
        }
    });
</script>

<h2>更改密码</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "更改密码失败，请重试。")
    <input type="hidden" name="return_url" value="@ViewBag.ReturnUrl" />
    <div>
        <fieldset>
            <legend>账号信息</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="更改密码" />
            </p>
        </fieldset>
    </div>
}
