@model SCUTClubManager.Models.Poll

@using SCUTClubManager.Models;

@{
    ViewBag.Title = "发起新投票";
}

<script>
    function deletePollItem(id) {
        $("#deletePollItem" + id).remove();
    }

    function deletePollItem2(id) {
        $("#deletePollItem2" + id).remove();
    }

    $(document).ready(function () {
        //$("#dateSettingHint").hide()
        //$("#pollItemsHint").hide()

        $("#btSubmit").click(function () {

        //    if ($("#olPollItems").children().length < 2) {
        //        $("#pollItemsHint").show()
        //        debugger
        //    }
        //    else {
        //        $("#pollItemsHint").hide()
        //    }

        //    if ($("#OpenDate").val() > $("#CloseDate").val()) {
        //        $("#dateSettingHint").show()
        //        debugger
        //    }
        //    else {
        //        $("#dateSettingHint").hide()
        //    }


        });

        $("#btAddPollItem").click(function () {
            $(".tt").attr({
                "readonly": "true"
            })

            var count = document.getElementById("olPollItems").childElementCount;

            $("#olPollItems").append("<li id='deletePollItem" + count + "'><input type='text' name='item' id='item" + count + "'></input><button id='" + count + "' onclick='deletePollItem(" + count + ")'>删除</a></li>");
           
            $('button').button();
        });


        $("#CloseDate").datepicker();

        $("#OpenDate").datepicker();


    });
</script>

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>投票</legend>

        <div class="editor-label">
            标题
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            问题
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question)
            @Html.ValidationMessageFor(model => model.Question)
        </div>

        <div id="Date">
            <div id="dateSettingHint">
                @Html.ValidationMessage("Date")
            </div>
            <div class="editor-label">
                开始时间
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OpenDate)
                @Html.ValidationMessageFor(model => model.OpenDate)
            </div>

            <div class="editor-label">
                结束时间
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CloseDate)
                @Html.ValidationMessageFor(model => model.CloseDate)
            </div>
        </div>

        <div class="editor-label">
            是否多选题
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMultiSelectable)
            @Html.ValidationMessageFor(model => model.IsMultiSelectable)
        </div>

        <div class="editor-label">
            选项：
        </div>
        <div class="editer-field">
            @Html.ValidationMessage("PollItemNumber")
            <ol id="olPollItems" type="A">
                @if ( Model != null && Model.Items != null)
                {
                    var k = 0;
                    foreach (var i in Model.Items)
                    {
                    <li id="@Html.Raw("deletePollItem2" + i.Id)" >
                        <input type='text' name='item' id="item + @k" value="@i.Caption" />
                        <button onclick='deletePollItem2(@i.Id)'>删除</button>
                        @Html.ValidationMessage("PollItem"+i.Id)
                    </li>
                    }
                }
            </ol>
        </div>

        <button type="button" id="btAddPollItem">增加选项</button>

    </fieldset>

    <p>
        <input id="btSubmit" type="submit" name="submit" value="提交" />
        <span>|</span>
        @Html.ActionLink("返回", "Index")
    </p>
}
