@model SCUTClubManager.Models.Poll

@{
    ViewBag.Title = "Details";
}

<h2>投票：@Html.Display(Model.Title)</h2>

<fieldset>
    <legend></legend>


    <div class="display-label">问题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">发起人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.Name)
    </div>

    <div class="display-label">开始时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenDate)
    </div>

    <div class="display-label">结束时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CloseDate)
    </div>
    
    <div class="display-label">
        @{
            if(Model.IsMultiSelectable)
            {
                <div>多选：</div>
            }
            else
            {
            <div>单选：</div>
            }
        }
    </div>

    
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="display-field">
            @{
                if (Model.IsMultiSelectable)
                {
                    foreach (var t in Model.Items)
                    {
                         <input type="checkbox" name="selectItem" value="@t.Id" /> @t.Caption<br />
                    }
                }
                else
                {
                    foreach (var t in Model.Items)
                    {
                        <input type="radio" name="selectItem" value="@t.Id" /> @t.Caption<br />
                     }
                }
            }
        <input type="submit" value="提交"/>
</div>
}

</fieldset>
<p>
    @Html.ActionLink("返回", "Index")
</p>
