@model IPagedList<SCUTClubManager.Models.Poll>

@{
    ViewBag.Title = "Index";
}

<h2>投票</h2>

<div>
    @Html.ActionLink("发起新投票", "Create")
    @Html.Partial("_SearchBar")
</div>

@Html.Partial("_Confirmation")

<script>
    $(document).ready(function () {
        deleteConfirmAjax(".deleteLink", "确认删除？", "/Poll/Delete");
    });
</script>

<table>
    <tr>
        <th>
            @Html.ActionLink("标题", "List", new { order = ViewBag.TitleOrderOpt })
        </th>
        <th>
            问题
        </th>
        <th>
            发起人
        </th>
        <th>
            @Html.ActionLink("开始时间", "List", new { order = ViewBag.OpenDateOrderOpt })
        </th>
        <th>
            @Html.ActionLink("结束时间", "List", new { order = ViewBag.CloseDateOrderOpt })
        </th>
        <th>
            状态
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="row-@item.Id">
        <td>
            @Html.ActionLink(item.Title, "Vote", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @LabelHelpers.GetStatus(item.OpenDate, item.CloseDate)
        </td>
        <td>
            <a href="#" class="deleteLink" data-id="@item.Id">删除</a>
        </td>
    </tr>
}

</table>

@Html.Partial("_PageNavigation", Model)