@model IPagedList<SCUTClubManager.Models.Reply>
@{
    ViewBag.Title = ViewBag.ThreadTitle;
}

<script>
    $(document).ready(function () {
        $("#btPostReply").click(function () {

            var replyText = $("#replyText").val();

            $.ajax({
                type: "POST",
                url: "/Forum/Details",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ id: "@ViewBag.Id", reply: replyText }),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        document.location = "/Forum/Details?id=@ViewBag.Id";
                    }
                    else {
                        $("#replyErrorMsg").text(data.msg);
                    }
                }
            })
        });
    })
</script>

<h2>留言板</h2>


@using (Html.BeginForm())
{
    foreach (var reply in Model)
    {
        if (reply.Number > 1)
        {
            reply.Number -= 1;
    <div class="ui-widget Reply">
        <div class="ui-widget-header ReplyHeader">
            @reply.Number 楼 - @reply.Author.CompleteName
        </div>
        <div class="ui-widget-content ReplyContent">
            @reply.Content
        </div>
    </div>
        }
        else
        {
    <div class="ReplyTop">
        <div class="ReplyTopHeader">
            <div class="ReplyTopHeaderTitle">
                @ViewBag.ThreadTitle
            </div>
            <div class="ReplyTopHeaderAuthor">
                楼主 - @reply.Author.CompleteName
            </div>
        </div>
        <div class="ReplyTopContent">
            @reply.Content
        </div>
    </div>
        }
    }
    
    <input type="hidden" name="id" value="@ViewBag.Id" />

    <div>
        @Html.Partial("_PageNavigation")
    </div>
    
    <div>
        <span>&nbsp;</span>
    </div>
    
    <div style="margin-top: 20px">
        <textarea id="replyText" name="replyText" style="height: 175px"></textarea>
        <p id="replyErrorMsg"></p>
    </div>

    
    <button id="btPostReply" type="button">回复</button>
    @Html.ActionLink("返回", "Index")
}