@model IPagedList<SCUTClubManager.Models.Reply>

@{
    ViewBag.Title = "Details";
}

<script>
    $(document).ready(function () {
        $("#btPostReply").click(function () {

            var replyText = $("#replyText").val();

            $.ajax({
                type: "POST",
                url: "/Forum/Details",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ id: "@ViewBag.Id", reply: replyText }),
                dataType: "json",
                success: function (data) {
                    if (data.success ) {
                        document.location = "/Forum/Details?id=@ViewBag.Id";
                    }
                    else {
                        $("#replyErrorMsg").text(data.msg);
                    }
                }
            })
        })
    })
</script>

<h2>留言板</h2>


@using (Html.BeginForm())
{
<h3>@ViewBag.Title</h3>

    foreach (var reply in Model)
    {
        <fieldset class="ThreadReply">
            <legend>@reply.Number 楼</legend>

            <div class="display-field">
                <b>作者:</b>
                <span>@reply.Author.Name</span>
            </div>

            <div>
                <b>内容:</b>
            </div>
            <div class="display-field">
                <span>@reply.Content</span>
            </div>
        </fieldset>
    }
    
    <input type="hidden" name="id" value="@ViewBag.Id" />

    <div>
        @Html.Partial("_PageNavigation")
    </div>
    
    <div>
        <span>&nbsp;</span>
    </div>
    
    <div style="margin-top: 20px">
        <textarea id="replyText" name="replyText" style="height: 175px"></textarea>
        <p id="replyErrorMsg"></p>
    </div>

    
        <button id="btPostReply"  type="button">回复</button>
        @Html.ActionLink("返回", "Index")
}