@model SCUTClubManager.Models.ClubApplication
@{
    ViewBag.Title = "申请加入" + ViewBag.Club.MajorInfo.Name;
}

@Html.Partial("_Confirmation")

<script type="text/javascript">
    function enableExecutorOnlySections(is_enabled) {
        if (is_enabled) {
            $(".ExecutorOnly").find('input').removeAttr("disabled");
            $(".ExecutorOnly").find('button').removeAttr("disabled");
            $(".ExecutorOnly").find('select').removeAttr("disabled");
            $(".ExecutorOnly").find('textarea').removeAttr("disabled");
        } else {
            $(".ExecutorOnly").find('input').attr("disabled", "true");
            $(".ExecutorOnly").find('button').attr("disabled", "true");
            $(".ExecutorOnly").find('select').attr("disabled", "true");
            $(".ExecutorOnly").find('textarea').attr("disabled", "true");
        }
    }

    function deleteDynamicListItem(item) {
        inclinationChange(item);
    }

    function inclinationChange(item) {
        if ($(item).hasClass("Error")) {
            $(item).removeClass("Error");

            var conflict_obj = $(inclinations[$(item).data("conflict-obj")]);
            if (conflict_obj.hasClass("Error")) {
                conflict_obj.removeClass("Error");
                conflict_obj.removeData("conflict-obj");
            }

            $(item).removeData("conflict-obj");

            if ($("#inclinationsErrorMsg").hasClass("Error")) {
                $("#inclinationsErrorMsg").removeClass("Error");
                $("#inclinationsErrorMsg").text("");
            }
        }
    }

    $(function () {
        var branch_list = new Array();

        @{
            SelectList list = ViewBag.BranchSelectList as SelectList;
            foreach (var item in list)
            {
                @:branch_list.push({ key: '@item.Text', value: '@item.Value' });
            }
        }

        var item_contents = new Array(  
            dropDownListFor("Inclinations[0].BranchId", null, null, branch_list, null, null, "inclinationChange($(this))"));

        var branch_list = new DynamicList(item_contents, "#inclinations", null, null, deleteDynamicListItem, "li", '@ConfigurationManager.InclinationsPerPerson');

        $("#RoleId").change(function () {
            var is_enabled = $(this).val() != '@ViewBag.MemberRoleId';
            enableExecutorOnlySections(is_enabled);
        });

        $('form').ajaxForm({
            success: notify,
            error: function (e) {
                debugger;
            }
        });

        confirm("#submit", "确定要提交吗？", function () {
            var inclinations = $(".DynamicListItemContent");

            // 检查是否有重复志愿
            for (var i = 0; i < inclinations.length; ++i) {
                for (var j = i + 1; j < inclinations.length; ++j) {
                    if ($(inclinations[i]).val() == $(inclinations[j]).val()) {
                        $("#inclinationsErrorMsg").text("志愿不能重复");
                        $("#inclinationsErrorMsg").addClass("Error");
                        $(inclinations[i]).addClass("Error");
                        $(inclinations[j]).addClass("Error");
                        $(inclinations[i]).data("conflict-obj", j);
                        $(inclinations[j]).data("conflict-obj", i);
                        return;
                    }
                }
            }

            if ($("#inclinationsErrorMsg").hasClass("Error")) {
                $("#inclinationsErrorMsg").removeClass("Error");
                $("#inclinationsErrorMsg").text("");
            }

            $("#applicationForm").submit();
        });

        enableExecutorOnlySections(false);
    })
</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Apply", "ClubMemberApplication", FormMethod.Post, new { id = "applicationForm" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>基本信息</legend>

        <div>
            <input type="hidden" value ="@ViewBag.Club.Id" name="ClubId" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoleId", ViewBag.RoleSelectList as SelectList)
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>
    </fieldset>

    <fieldset class="ExecutorOnly">
        <legend>申请志愿（以下内容只有干事才需要填写）</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsFlexible)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsFlexible)
            @Html.ValidationMessageFor(model => model.IsFlexible)
        </div>
        <ol id="inclinations">
        </ol>
        <span id="inclinationsErrorMsg" class="ErrorMessage"></span>
    </fieldset>
    
    <fieldset class="ExecutorOnly">
        <legend>个人简介（以下内容只有干事才需要填写）</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Details.Reason)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Details.Reason)
            @Html.ValidationMessageFor(model => model.Details.Reason)
        </div>
    </fieldset>
    
    <p>
        <button type="button" id="submit">提交</button>
    </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
