@model SCUTClubManager.Models.LocationApplication

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LocationApplication</legend>

    <div class="display-label">SubEvent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubEvent.Title)
    </div>

    <div class="display-label">Time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time.TimeName)
    </div>

    <div class="display-label">Club</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Club.Id)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">Applicant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Applicant.Name)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
