@model SCUTClubManager.Models.LocationApplication

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>场地申请详情</legend>

    <div class="display-label">子活动</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubEvent.Title)
    </div>
    
    <div class="display-label">日期</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">时间段</div>
    <div class="display-field">
            @foreach(var time in Model.Times)
            {
                <p>@time.TimeName</p>
            }
    </div>

    <div class="display-label">申请社团</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Club.Id)
    </div>

    <div class="display-label">状态</div>
    <div class="display-field">
        @SCUTClubManager.Helpers.LabelHelpers.GetStatus(Model.Status)
    </div>

    <div class="display-label">申请人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Applicant.Name)
    </div>

</fieldset>


@if (Model.Status == "n")
{
    @Html.Partial("_VerifyBar", Model.Id);
}
<p>
    @Html.ActionLink("返回", "Index")
</p>
