@model IEnumerable<SCUTClubManager.Models.FundDetails>
@{
    ViewBag.Title = "Index";
}

<h2>财务明细</h2>

<p>
    @Html.Partial("_SearchBar")
</p>


@Html.Partial("_Confirmation")

<script>
    $(document).ready(function () {
        deleteConfirmAjax(".deleteLink", "确认删除？", "/Fund/Delete");
    });
</script>
<table class="ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th>金额
            </th>
            <th>社团
            </th>
            <th>负责人
            </th>
            <th>
                @Html.ActionLink("日期", "List", new { order = ViewBag.DateOrderOpt }, new { @class = "NotButton" })
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="ui-widget-content">
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.MajorInfo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("详情", "Details", new { id = item.Id })
                    <a href="#" class="deleteLink" data-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_PageNavigation", Model)