@model IEnumerable<SCUTClubManager.Models.View_Models.AssignedLocationViewModel>

@{
    ViewBag.Title = "AssignedLocation";
}


<p>@ViewBag.Date</p>
@foreach (var time in ViewBag.Times)
{
    <p>@time.TimeName</p>
}
<p>的被占用场地</p>


@Html.ActionLink("查看可借场地", "AvailableLocation", new { date = @ViewBag.date, time_ids = @ViewBag.time_ids[0] })
@Html.ActionLink("查看不可借用场地", "UnavailableLocation", new { date = @ViewBag.date, time_ids = @ViewBag.time_ids[0]})

<table>
    <tr>
        <th>
            名称
        </th>
        <th>
            借用社团
        </th>
        <th>
            联系人
        </th>
    </tr>

    
@foreach (var item in Model)
{
    
    
    <tr>
        <td class="ItemName">
            @Html.DisplayFor(modelItem => item.Location.Name)
            <input class="ItemId" type="hidden" value ="@item.Location.Id"/>
        </td>
        <td class="BorrowClub">
            @Html.DisplayFor(modelItem => item.Club.MajorInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Name)
        </td>
    </tr>
}
    

</table>