@model SCUTClubManager.Models.Location

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div id="test"></div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    function dropDownListFor(name, id, class_name, items, default_item_index, options, callback) {
        var drop_down_list = "<select ";
        var is_validation_required = false;

        if (name != null) {
            drop_down_list += "name='" + name + "' ";
        }
        if (id != null) {
            drop_down_list += "id='" + id + "' ";
        }
        if (class_name != null) {
            drop_down_list += "class='" + class_name + "' ";
        }
        if (default_item_index != null) {
            drop_down_list += "value='" + items[default_item_index].value + "' ";
        }
        if (options != null) {
            if (options.required != null && options.required) {
                is_validation_required = true;
                drop_down_list += "data-val-required='" + options.required_msg + "' ";
            }
            if (is_validation_required) {
                drop_down_list += "data-val='true' ";
            }
        }
        if (callback != null) {
            drop_down_list += "onchange='" + callback + "' ";
        }

        drop_down_list += ">";

        if (items != null) {
            for (var i = 0; i < items.length; ++i) {
                drop_down_list += "<option value='" + items[i].value + "'>" + items[i].key + "</option>";
            }
        }

        drop_down_list += "</select>"

        return drop_down_list;
    }

    $(function () {
        var weekdays = new Array({ key: "星期一", value: 1 }, { key: "星期二", value: 2 }, { key: "星期三", value: 3 }, { key: "星期四", value: 4 }, { key: "星期五", value: 5 }, { key: "星期六", value: 6 }, { key: "星期天", value: 7 });
        var times = new Array();

        @foreach (var time in ViewBag.Time as SelectList)
        {
            @:times.push({ key: '@time.Text', value: '@time.Value' });
        }

        var item_contents = new Array(
            dropDownListFor("weekday[0]", null, null, weekdays),
            dropDownListFor("time_id[0]", null, null, times));
        
        var unavailable_time_list = new DynamicList(item_contents, "#unavailableTimes", null, null);
    })

    function showDate(item)
    {
        item.datepicker();
    }
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Location</legend>

        <div class="editor-label">
            场地名
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            场地不可用时间段设置(星期几/时间段)：
        </div>
        <div class="editor-field" id="unavailableTimes">

        </div>

        <p>
            <input type="submit" value="提交" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div hidden="hidden" id="hiddenList">
    @Html.DropDownList("Time",String.Empty)
</div>