@model SCUTClubManager.Models.Location

@{
    ViewBag.Title = "编辑场地";
}

<script>
    $(function () {
        var weekdays = new Array({ key: "星期一", value: 1 }, { key: "星期二", value: 2 }, { key: "星期三", value: 3 }, { key: "星期四", value: 4 }, { key: "星期五", value: 5 }, { key: "星期六", value: 6 }, { key: "星期天", value: 7 });
        var times = new Array();

        @foreach (var time in ViewBag.Time as SelectList)
        {
            @:times.push({ key: '@time.Text', value: '@time.Value' });
        }

        var item_contents = new Array(
            dropDownListFor("weekday", null, null, weekdays),
            dropDownListFor("time_id", null, null, times));
        
        var unavailable_time_list = new DynamicList(item_contents, "#unavailableTimes", null, null);

        @foreach (var unavailable_time in ViewBag.UnAvailableTimes)
        {
            @:var temp_item = new Array("@unavailable_time.WeekDayId" ,"@unavailable_time.Time.Id");
            @:unavailable_time_list.add(temp_item);
        }
            

    })

    function showDate(item)
    {
        item.datepicker();
    }
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>编辑场地</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnAvailableTimes)
        </div>
        <div class="editor-field" id="unavailableTimes">

        </div>

        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
