@model IEnumerable<SCUTClubManager.Models.Location>
@{
    ViewBag.Title = "场地一览";
}


@Html.Partial("_Confirmation")

<script>
    $(document).ready(function () {
        deleteConfirmAjax(".deleteLink", "确认删除？", "/Location/Delete");
    });
</script>

<h2>场地一览</h2>

<div>
    @Html.ActionLink("新场地", "Create")
    @Html.Partial("_SearchBar")
</div>

<table class="ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th>
                @Html.ActionLink("场地名", "List", new { order = ViewBag.NameOrderOpt }, new { @class = "NotButton" })
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="ui-widget-content">
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
            @Html.ActionLink("详情", "Details", new { id = item.Id }) |
            <a href="#" class="deleteLink" data-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_PageNavigation", Model)
