@model SCUTClubManager.Models.ClubRegisterApplication
@{
    ViewBag.Title = "申请成立新社团";
}

@Html.Partial("_Confirmation")

<script type="text/javascript">
    function deleteItem(itemToDelete) {
        // 获取被删除元素的类别
        var class_name = "." + itemToDelete[0].className;
        // 更新被删除的元素后所有元素Name属性的下标
        $(itemToDelete).nextAll(class_name).each(function (index, element) {
            var name = element.firstChild.name;
            var left_bracket = name.indexOf("[");
            var right_bracket = name.indexOf("]");
            var orig_index = name.substring(left_bracket + 1, right_bracket);
            var new_index = orig_index - 1;

            element.firstChild.name = name.replace(orig_index, new_index);
        });

         移除被删除元素
        $(itemToDelete).remove();
    }

    function addBranch() {
        var name = "new_branches[" + $('.Branch').length + "].BranchName";

        var textbox = $("<div class='Branch'>" + textboxFor(name, "请在此输入部门名", "",
{ required: true, required_msg: "请输入部门名", regex: "^[\\u2E80-\\u9FFFa-zA-Z0-9]{1,20}$", regex_msg: "部门名必须在1~20个字之间，且不能有标点符号" }) +
            "<button class='deleteBranchBtn' onclick='deleteItem($(this).parent())'>删除</button></div>")
            .insertBefore("#addBranchBtn").children('input');

        placeHolder(textbox, 'PlaceHolder');

        refreshFormValidations();
    }

    function asMainApplicant(mainApplicantCheckBox) {
        if (mainApplicantCheckBox.checked) {
            var name = "Applicants[" + ($('.Applicant').length - 1) +
                "].Description.Description";

            var textarea = $("<div class='Description'>" +
 textareaFor(name, "请在这里输入对主要申请人的描述", "", { required: true, required_msg: "请输入对主要申请人的描述" }) + "</div>")
                .appendTo(mainApplicantCheckBox.parentElement).children('textarea');

            placeHolder(textarea, "PlaceHolder");

            refreshFormValidations();
        } else {
            var description = $(mainApplicantCheckBox).siblings('.Description');
            deleteItem(description);
        }
    }

    function addApplicant() {
        var applicant_user_name_box = $("#applicantUserName");

        $.post("ApplyNewClubAddApplicant", { user_name: applicant_user_name_box.val() }, function (data) {
            if (data.success) {
                var no_duplicate = true;

                $("input[type='hidden'].ApplicantUserName").each(function (index, element) {
                    if ($(element).val() == applicant_user_name_box.val()) {
                        $("#addApplicantErrorMsg").addClass("Error");
                        $("#addApplicantErrorMsg").text("不能添加同一个用户到申请人列表中");
                        no_duplicate = false;
                    }
                });

                if (no_duplicate) {
                    var textbox_name = "Applicants[" + $('.Applicant').length +
                            "].ApplicantUserName";
                    var textbox_value = applicant_user_name_box.val();
                    var checkbox_name = "Applicants[" + $('.Applicant').length + "].IsMainApplicant";

                    var textbox = $("<div class='Applicant'>" + textboxFor(textbox_name, textbox_value, "ApplicantUserName") +
                        "<input type='hidden' class='ApplicantUserName' name='" + textbox_name + "' value='" + textbox_value +
                        "' /><input type='checkbox' class='IsMainApplicant' name='" +
                        checkbox_name + "' onclick='asMainApplicant(this)'" +
                        "value='true'>作为主要申请人</input><button class='deleteApplicantBtn' onclick='deleteItem($(this).parent())'>删除</button></div>")
                        .insertBefore("#addApplicant").children(".ApplicantUserName");

                    textbox.attr("disabled", "disabled");
                    applicant_user_name_box.val("请输入新申请人的用户名");
                    applicant_user_name_box.addClass("PlaceHolder");

                    refreshFormValidations();

                    $("#addApplicantErrorMsg").text("");
                }
            } else {
                $("#addApplicantErrorMsg").addClass("Error");
                $("#addApplicantErrorMsg").text(data.msg);
            }
        });
    }

    $(function () {
        $('form').ajaxForm({
            success: notify,
            error: function (e) {
                debugger;
            }
        });

        placeHolder($('textarea'), "PlaceHolder");
        placeHolder($("#applicantUserName"), "PlaceHolder");

        $("#applicantUserName").keypress(function () {
            if ($("#addApplicantErrorMsg").hasClass("Error")) {
                $("#addApplicantErrorMsg").removeClass("Error");
                $("#addApplicantErrorMsg").text("");
            }
        });
    })

</script>

<h2>申请成立新社团</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Html.LabelFor(model => model.MajorInfo)</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Name)
            @Html.ValidationMessageFor(model => model.MajorInfo.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Instructor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Instructor)
            @Html.ValidationMessageFor(model => model.MajorInfo.Instructor)
        </div>
    </fieldset>

    <fieldset>
        <legend>@Html.LabelFor(model => model.SubInfo)</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Principle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Principle)
            @Html.ValidationMessageFor(model => model.SubInfo.Principle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Purpose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Purpose)
            @Html.ValidationMessageFor(model => model.SubInfo.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Range)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Range)
            @Html.ValidationMessageFor(model => model.SubInfo.Range)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Address)
            @Html.ValidationMessageFor(model => model.SubInfo.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Regulation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Regulation)
            @Html.ValidationMessageFor(model => model.SubInfo.Regulation)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.PosterUrl)
        </div>
        <div class="editor-field">
            <input type="file" name="poster" id="poster" />
        </div>
    </fieldset>

    <fieldset>
        <legend>@Html.LabelFor(model => model.Branches)</legend>
        <div class="DescriptionText">
            要新增一个部门，请点击“新增”按钮，并输入新部门的名称。要删除一个部门，请点击该部门旁的“删除”按钮。
        </div>
        @if (Model != null && Model.Branches != null)
        {
            int counter = 0;

            foreach (var branch in Model.Branches)
            {
                string name = "new_branches[" + counter + "].BranchName";
                counter++;
            
            <div class="Branch">
                <input type='text' class='BranchName' name='@name' />
                @Html.ValidationMessage(name)
                <button class='deleteBranchBtn' onclick='deleteItem(this.parentElement)'>删除</button>
            </div>
            }
        }
        <div class="editor-field" id="addBranch">
            <button id="addBranchBtn" onclick="addBranch()" type="button">新增</button>
        </div>
    </fieldset>

    <fieldset>
        <legend>@Html.LabelFor(model => model.Applicants)</legend>
        <div class="DescriptionText">
            提交该申请的用户自动作为一名主要申请人。此外，要添加一名申请人，请点击“添加”按钮，并输入这名申请人的用户名。
            若要将一名已在列表中的申请人作为主要申请人，请勾选“作为主要申请人”。注意，所有主要申请人都必须填写申请人描述。
            若要将一名申请人移除出列表，请点击这名申请人旁的“移除”按钮。
        </div>
        <div class="Applicant">
            <input type="text" name="Applicants[0].ApplicantUserName" class="ApplicantUserName" id="submitter" value="@User.Identity.Name" disabled="disabled" />
            <input type="hidden" name="Applicants[0].ApplicantUserName" class="ApplicantUserName" value="@User.Identity.Name" />
            <input type="checkbox" class="IsMainApplicant" name='Applicants[0].IsMainApplicant' checked="checked" value="4" disabled="disabled">作为主要申请人</input>
            <input class='IsMainApplicant' name='Applicants[0].IsMainApplicant' type='hidden' value='true' />
            <div>
                <textarea class="Description" data-val="true" data-val-required="请输入对主要申请人的描述" name="Applicants[0].Description.Description">请在这里输入对主要申请人的描述</textarea>
                <span data-valmsg-for="Applicants[0].Description.Description" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="editor-field" id="addApplicant">
            <input type="text" name="applicant_user_name" id="applicantUserName" value="请输入新申请人的用户名" />
            <button id="addApplicantBtn" onclick="addApplicant()" type="button">新增</button>
            <span id="addApplicantErrorMsg" class="ErrorMessage"></span>
        </div>
    </fieldset>

    <fieldset>
        <legend>测试</legend>
        <div id="test"></div>
    </fieldset>
    
    <p>
        <input type="submit" value="提交" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
