@model SCUTClubManager.Models.Club

@{
    ViewBag.Title = "修改社团信息";
}

<script type="text/javascript">
    function onDeleteBranch(branchToDelete) {
        debugger;
        var id = branchToDelete.siblings('input[type="hidden"]').val();
        $("#deletedBranchId").append("<input type='hidden' value='" + id + "' name='deleted_branch_ids' />");
    }

    $(function () {
        var item_contents = new Array(
            "<input type='text' name='Branches[0].BranchName'/>",
            "<input type='hidden' name='Branches[0].Id'/>");
        var insert_contents = new Array(
            "<input type='text' value='在此输入部门名'/>");

        var branch_list = new DynamicList(item_contents, "#branchList", insert_contents, null, onDeleteBranch);

        $('#hidden').children().each(function (index, element) {
            var values = new Array();
            values[0] = $(element).children(".BranchName").val();
            values[1] = $(element).children(".BranchId").val();

            branch_list.add(values);
        });

        $('input').attr('disabled', 'true');
        $('button').attr('disabled', 'true');
        $('button.EnableEdit').removeAttr('disabled');

        $('button.EnableEdit').click(function () {
            $(this).parent().parent().find('input').removeAttr('disabled');
            $(this).parent().parent().find('button').removeAttr('disabled');
            $(this).attr('disabled', 'disabled');
            $('input[type="submit"]').removeAttr('disabled');
        });
    })
</script>

<h2>修改社团信息</h2>

<div id="hidden">
    @if (Model.Branches != null)
    {
        foreach (var branch in Model.Branches)
        {
            <div class="Branch">
                <input type="hidden" class="BranchId" value="@branch.Id" />
                <input type="hidden" class="BranchName" value="@branch.BranchName" />
            </div>
        }
    }
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    
    <fieldset id="major_info">
        <legend>基本信息</legend>

        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Name)
            @Html.ValidationMessageFor(model => model.MajorInfo.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Instructor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Instructor)
            @Html.ValidationMessageFor(model => model.MajorInfo.Instructor)
        </div>
    </fieldset>

    <fieldset id="sub_info">
        <legend>次要信息</legend>

        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Principle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Principle)
            @Html.ValidationMessageFor(model => model.SubInfo.Principle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Purpose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Purpose)
            @Html.ValidationMessageFor(model => model.SubInfo.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Range)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Range)
            @Html.ValidationMessageFor(model => model.SubInfo.Range)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Address)
            @Html.ValidationMessageFor(model => model.SubInfo.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Regulation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Regulation)
            @Html.ValidationMessageFor(model => model.SubInfo.Regulation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.PosterUrl)
        </div>
        <div class="editor-field">
            <input type="file" name="poster" id="SubInfo_PosterUrl" />
        </div>
    </fieldset>
    
    <fieldset id="branches">
        <legend>社团架构</legend>

        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Branches)
        </div>

        <div class="editor-field">
            <div id="branchList"></div>
        </div>

        <div id="deletedBranchId">
        </div>
    </fieldset>
    
    <p>
        <input type="submit" value="提交" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
