@model SCUTClubManager.Models.Club

@{
    ViewBag.Title = "修改社团信息";
}

@Html.Partial("_Confirmation")

<script type="text/javascript">
    function onDeleteBranch(branchToDelete) {
        var id = branchToDelete.siblings('input[type="hidden"]').val();

        if (id != 0) {
            $("#deletedBranchId").append("<input type='hidden' value='" + id + "' name='deleted_branch_ids' />");
        }
    }

    $(function () {
        var item_contents = new Array(
            textboxFor("Branches[0].BranchName", "请在此输入部门名", "",
{ required: true, required_msg: "请输入部门名", regex: "^[\\u2E80-\\u9FFFa-zA-Z0-9]{1,20}$", regex_msg: "部门名必须在1~20个字之间，且不能有标点符号" })
            ,
            "<input type='hidden' name='Branches[0].Id' value='0' />");
        var insert_contents = new Array(
            "<input type='text' value='在此输入部门名'/>");

        var branch_list = new DynamicList(item_contents, "#branchList", insert_contents, null, onDeleteBranch);

        $('#hidden').children().each(function (index, element) {
            var values = new Array();
            values[0] = $(element).children(".BranchName").val();
            values[1] = $(element).children(".BranchId").val();

            branch_list.add(values);
        });

        $('input[class!="EnabledForever"]').attr('disabled', 'true');
        $('button[class!="EnabledForever"]').attr('disabled', 'true');
        $('button.EnableEdit').removeAttr('disabled');

        $('button.EnableEdit').click(function () {
            $(this).parent().parent().find('input[class!="DisabledForever"]').removeAttr('disabled');
            $(this).parent().parent().find('button').removeAttr('disabled');
            $(this).attr('disabled', 'disabled');
            $('#submitBtn').removeAttr('disabled');
        });

        $('form').ajaxForm({
            success: notify,
            error: function (e) {
                debugger;
            }
        });
    })

    function submitBtn_Click() {
        $("#InfoModification").submit();
    }
</script>

<h2>修改社团信息</h2>

<div id="hidden">
    @if (Model.Branches != null)
    {
        foreach (var branch in Model.Branches)
        {
            if (branch.BranchName != "会员部")
            {
        <div class="Branch">
            <input type="hidden" class="BranchId" value="@branch.Id" />
            <input type="hidden" class="BranchName" value="@branch.BranchName" />
        </div>
            }
        }
    }
</div>

@using (Html.BeginForm("UploadPoster", "Club"))
{
    @Html.ValidationSummary(true)
    <input class="EnabledForever" type="hidden" name="club_id" value="@Model.Id" />

    <fieldset id="poster">
        <legend>上传新海报</legend>
        <div>
            上传新海报不需要通过审查，上传后直接生效。
        </div>
        <div>
            <input class="EnabledForever" type="file" name="poster" />
        </div>
        <p>
            <input class="EnabledForever" type="submit" value="上传" />
        </p>
    </fieldset>
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <input type="hidden" class="EnabledForever" name="Id" value="@Model.Id" />
    
    <fieldset id="major_info">
        <legend>基本信息</legend>

        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Name)
            @Html.ValidationMessageFor(model => model.MajorInfo.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorInfo.Instructor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MajorInfo.Instructor)
            @Html.ValidationMessageFor(model => model.MajorInfo.Instructor)
        </div>
    </fieldset>

    <fieldset id="sub_info">
        <legend>次要信息</legend>

        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Principle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Principle)
            @Html.ValidationMessageFor(model => model.SubInfo.Principle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Purpose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Purpose)
            @Html.ValidationMessageFor(model => model.SubInfo.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Range)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Range)
            @Html.ValidationMessageFor(model => model.SubInfo.Range)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Address)
            @Html.ValidationMessageFor(model => model.SubInfo.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.Regulation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubInfo.Regulation)
            @Html.ValidationMessageFor(model => model.SubInfo.Regulation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubInfo.PosterUrl)
        </div>
        <div class="editor-field">
            <span>请在“上传新海报”区域操作</span>
        </div>
    </fieldset>
    
    <fieldset id="branches">
        <legend>社团架构</legend>
        <div class="editor-field">
            <button type="button" class="EnableEdit">编辑</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Branches)
        </div>

        <div class="editor-field">
            <input class="DisabledForever" type="text" value="会员部" disabled="disabled" />
        </div>

        <div class="editor-field">
            <div id="branchList"></div>
        </div>

        <div id="deletedBranchId">
        </div>
    </fieldset>

    <p>
        <input class="EnabledForever" type="submit" value="提交" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
