@model IPagedList<SCUTClubManager.Models.Application>
@{
    ViewBag.Title = "社团事务申请列表";
}

<h2>社团事务申请列表</h2>

@Html.Partial("_PassFilterBar")

@Html.Partial("_SearchBar")

<table class="ContentTable ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th>申请
            </th>
            <th>
                @Html.ActionLink("负责人", "List", new
           {
               order = ViewBag.ApplicantNameOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               type_filter = ViewBag.TypeFilter
           }, new { @class = "NotButton" })
            </th>
            <th>
                @Html.ActionLink("申请日期", "List", new
           {
               order = ViewBag.DateOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               type_filter = ViewBag.TypeFilter
           }, new { @class = "NotButton" })
            </th>
            <th>
                @Html.ActionLink("审批状态", "List", new
           {
               order = ViewBag.PassOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               type_filter = ViewBag.TypeFilter
           }, new { @class = "NotButton" })
            </th>
        </tr>
    </thead>
    <tbody class="ui-widget-content">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="NotButton" href="Details?id=@item.Id&club_id=@ViewBag.ClubId&page_number=@ViewBag.PageNumber&order=@ViewBag.CurrentOrder&pass_filter=@ViewBag.PassFilter&search=@ViewBag.Search&search_option=@ViewBag.SearchOption&type_filter=@ViewBag.TypeFilter">@Html.DisplayFor(modelItem => item)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @SCUTClubManager.Helpers.LabelHelpers.GetStatus(item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_PageNavigation", Model)