@model SCUTClubManager.Models.Message

@{
    ViewBag.Title = "Delete";
} 

<h2>删除</h2>

<h3>确定删除此消息？</h3>
<fieldset>
    <legend>Message</legend>

    <div class="display-label">发件人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sender.Password)
    </div>

    <div class="display-label">收件人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Receiver.Password)
    </div>

    <div class="display-label">标题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">日期</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
