@model SCUTClubManager.Models.Message

@{
    ViewBag.Title = "Details"; 
}

<h2>@Html.Raw("来自" + Model.Sender.CompleteName + "的消息")</h2>

<div>
    <span class="OperationBtn">@Html.DisplayFor(model => model.Date)</span>
</div>

<div>&nbsp;</div>

<fieldset>
    <legend>@Model.Title</legend>

    <div class="display-field">
        @Html.DisplayTextFor(model => model.Content.Content)
    </div>

</fieldset>

<div class="OperationBtn2">
    @Html.ActionLink("回复", "Create", new { receiver_id = Model.SenderId })
</div>

<div class="OperationBtn">
    @Html.ActionLink("返回", "Index")
</div>
