@model SCUTClubManager.Models.Message

@{
    ViewBag.Title = "Details"; 
}

<div class="ui-widget Message">
    <div class="ui-widget-header MessageHeader">
        <span class="MessageTitle">
            @Model.Title - @Model.Sender.CompleteName
        </span>
        <span class="MessageDate">
            @Html.DisplayFor(model => model.Date)
        </span>
    </div>
    <div class="ui-widget-content MessageContent">
        @Html.DisplayTextFor(model => model.Content.Content)
    </div>
</div>

<p class="OperationBtn2">
    @Html.ActionLink("回复", "Create", new { receiver_id = Model.SenderId })
    <span>|</span>
    @Html.ActionLink("返回", "Index")
</p>
