@model IEnumerable<SCUTClubManager.Models.Message>

@{
    ViewBag.Title = "Index";
}

$function onChange(value) {
    window.location.href = value;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="Message">
    <select onchange="this.form.submit()">
        
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
    </select>
</form>

    <div class="editor-label">
        收件人 <br /> @Html.ActionLink("选择","Index")
        <form action="Message">
            @Html.DropDownList("receivers",String.Empty)
            <input type="submit" value="选择" />
        </form>
    </div>

    <div class="editor-field">
        @Html.DropDownList("receivers", null,
        new { onChange = "submit()"})
    </div>^





<table>
    <tr>
        <th>
            标题
        </th>
        <th>
            发件人
        </th>
        <th>
            收件人
        </th>
        <th>
            已读
        </th>
        <th>
            日期
        </th>
        <th></th>
    </tr>
     
@foreach (var item in Model) {  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("查看", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
