@model IEnumerable<SCUTClubManager.Models.Message>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("写消息", "Create")
</p>



<table>
    <tr>
        <th>
            标题
        </th>
        <th>
            发件人
        </th>
        <th>
            收件人
        </th>
        <th>
            已读
        </th>
        <th>
            日期
        </th>
        <th></th>
    </tr>
     
@foreach (var item in Model) {  
    <tr>
        <td>
             @Html.ActionLink(item.Title,"Details", new { id=item.Id })
        </td>
        <td>
            @HtmlHelperExtensions.GetFullName(item.Sender)
        </td>
        <td>
            @HtmlHelperExtensions.GetFullName(item.Receiver) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("查看", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<hr />

<h2>@ViewBag.userName 的消息 </h2>


<div class="editor-label">
    按收件人搜索
    <form action="Message">
         @Html.DropDownList("receivers",String.Empty)
        <input type="submit" value="搜索" />
    </form>
</div>