@model IEnumerable<SCUTClubManager.Models.AssetAssignment>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_SearchBar")
</p>

@Html.Partial("_Confirmation")

<script>
    $(document).ready(function () {
        deleteConfirmAjax(".deleteLink", "确认删除？", "/AssetAssignment/Delete");
    });
</script>

<table class="ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th>日期
            </th>
            <th>时间段
            </th>
            <th>申请社团
            </th>
            <th>申请人
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="ui-widget-content">
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    @item.Date.ToString("yyyy年MM月dd日")
                </td>
                <td>

                    @foreach (var time in item.Times)
                    {
                        <p>@time.TimeName</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.MajorInfo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.Name)
                </td>
                <td>
                    @Html.ActionLink("详细", "Details", new { id = item.Id })
                    <a href="#" class="deleteLink" data-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_PageNavigation", Model)