@model SCUTClubManager.Models.Club

@{
    ViewBag.Title = Model.MajorInfo.Name + "详情";
}

<h2>@Model.MajorInfo.Name</h2>

<fieldset>
    <legend>基本信息</legend>

    <div class="display-label">社团等级</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">成立日期</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoundDate)
    </div>

    <div class="display-label">成员人数</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberCount)
        <span class="AdditionalInfo">(+@Model.NewMemberCount)</span>
    </div>

    <div class="display-label">指导教师</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MajorInfo.Instructor)
    </div>
</fieldset>

<fieldset>
    <legend>次要信息</legend>

    <div class="display-label">宗旨</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubInfo.Principle)
    </div>

    <div class="display-label">目的</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubInfo.Purpose)
    </div>

    <div class="display-label">活动范围</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubInfo.Range)
    </div>

    <div class="display-label">地址</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubInfo.Address)
    </div>

    <div class="display-label">规章制度</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubInfo.Regulation)
    </div>
</fieldset>

<fieldset>
    <legend>社团架构</legend>
    <table>
        <tr>
            <th>
                部门
            </th>
            <th>
                成员人数
            </th>
        </tr>
        @if (Model.Branches != null)
        {
            foreach (var branch in Model.Branches)
            {
            <tr>
                <td>
                    @Html.ActionLink(branch.BranchName, "List", "ClubMember", new { club_id = Model.Id, branch_filter = branch.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(model => branch.MemberCount)
                    <span class="AdditionalInfo">(+@branch.NewMemberCount)</span>
                </td>
            </tr>
            }
        }
    </table>
</fieldset>

<p>
    @{
        string[] roles = { "会长" };
    }
    @if (SCUTClubManager.BusinessLogic.ScmRoleProvider.HasMembershipIn(club_id: Model.Id, possible_roles: roles))
    {
        var html_str = Html.ActionLink("修改", "ApplyModifyClubInfo", "ClubApplication", new { id = Model.Id }, null);
        
        Html.ViewContext.Writer.Write(html_str);
        Html.ViewContext.Writer.Write("|");
    }

    @Html.ActionLink("返回", "Introduction", new { id = Model.Id, page_number = ViewBag.PageNumber, order = ViewBag.Order, search = ViewBag.Search })
</p>
