@{
    ViewBag.Title = "社团管理";
}

<h2>社团管理</h2>

@Html.Partial("_Confirmation")

<script type="text/javascript">
    $(function () {
        confirm("#enableRecruit", "确认要" + "@ViewBag.EnableRecruitText" + "吗？", "/Club/EnableRecruit", "is_enabling", function (data) {
            $("#enableRecruit").text(data.text);
            $('#enableRecruit').data('is_enabling', data.value);
        });
    });
</script>

@Html.ActionLink("社团事务审批", "List", "ClubApplication")
@Html.ActionLink("社团列表", "List", new { page_number = 1, order = "", search = "", search_option = "" })
<a href="javascript: void(0)" id="enableRecruit" data-is_enabling="@ViewBag.EnableRecruitValue">@ViewBag.EnableRecruitText</a>