@model SCUTClubManager.Models.Club

@{
    ViewBag.Title = Model.MajorInfo.Name;
}

<h2>@Model.MajorInfo.Name</h2>
<div class="SplashPanel">
    <img src='@Url.Content("~/Content/Images/ClubSplashPanel/" + Model.SubInfo.PosterUrl)' />
</div>

<table class="PanelButtonContainer">
    <tr>
        <td class="PanelButton">
            @Html.ActionLink("社团详情", "Details", new { id = Model.Id })
        </td>
        @{
            if (ViewBag.IsMember)
            {
            <td class="PanelButton">@Html.ActionLink("进入", "Manage", 
            new { id = Model.Id, page_number = ViewBag.PageNumber, order = ViewBag.Order, search = ViewBag.Search })</td>
                }
                else
                {
                    if (User.IsInRole("学生") && ConfigurationManager.IsRecruitEnabled)
                    {
            <td class="PanelButton">@Html.ActionLink("申请加入", "Apply", "ClubMemberApplication", new { club_id = Model.Id })</td>
                    }
                }
        }
        <td class="PanelButton">
            @Html.ActionLink("返回", "List", new { page_number = ViewBag.PageNumber, order = ViewBag.Order, search = ViewBag.Search })
        </td>
    </tr>
</table>