@model IEnumerable<SCUTClubManager.Models.Club>

@{
    ViewBag.Title = "社团列表";
}

<h2>社团列表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.ActionLink("社团名", "List", new { page_number = 1, order = ViewBag.NameOrderOpt, search = ViewBag.Search });
        </th>
        <th>
            @Html.ActionLink("社团等级", "List", new { page_number = 1, order = ViewBag.LevelOrderOpt, search = ViewBag.Search });
        </th>
        <th>
            @Html.ActionLink("总人数", "List", new { page_number = 1, order = ViewBag.MemberCountOrderOpt, search = ViewBag.Search });
        </th>
        <th>
            @Html.ActionLink("成立日期", "List", new { page_number = 1, order = ViewBag.FoundDateOrderOpt, search = ViewBag.Search });
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MajorInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
