<script type="text/javascript">
    $(function () {
        $("#BranchFilters").change(function () {
            var docLocation = location.pathname + "?page_number=1";

            if ('@ViewBag.CurrentOrder' != '') {
                docLocation += "&order=@ViewBag.CurrentOrder";
            }
            if ('@ViewBag.PassFilter' != '') {
                docLocation += "&pass_filter=@ViewBag.PassFilter";
            }
            if ('@ViewBag.TypeFilter' != '') {
                docLocation += "&type_filter=@ViewBag.TypeFilter";
            }
            if ('@ViewBag.ClubId' != '') {
                docLocation += "&club_id=@ViewBag.ClubId";
            }
            if ('@ViewBag.RoleFilter' != '') {
                docLocation += "&role_filter=@ViewBag.RoleFilter";
            }
            if ('@ViewBag.SearchOption' != '') {
                docLocation += "&search_option=@ViewBag.SearchOption";
            }
            if ('@ViewBag.Search' != '') {
                docLocation += "&search=@ViewBag.Search";
            }

            docLocation += "&branch_filter=" + $("#BranchFilters").val();

            document.location = docLocation;
        });
    })
</script>

@if (ViewBag.BranchFilters != null)
{
    <div class="OperationBtn2">
        @Html.DropDownList("BranchFilters")
    </div>
}