@model PagedList.IPagedList

<script type="text/javascript">
    $(function () {
        $("#pageNumber").keypress(function (e) {
            if (e.which == 13) {
                var page_number = $("#pageNumber").val();

                if (page_number < 1) {
                    page_number = 1;
                } else if (page_number > '@Model.PageCount') {
                    page_number = '@Model.PageCount';
                }

                var docLocation = location.pathname + "?page_number=" + page_number;

                if ('@ViewBag.CurrentOrder' != '') {
                    docLocation += "&order=@ViewBag.CurrentOrder";
                }
                if ('@ViewBag.Search' != '') {
                    docLocation += "&search=@ViewBag.Search";
                }
                if ('@ViewBag.PassFilter' != '') {
                    docLocation += "&pass_filter=@ViewBag.PassFilter";
                }
                if ('@ViewBag.SearchOption' != '') {
                    docLocation += "&search_option=@ViewBag.SearchOption";
                }
                if ('@ViewBag.TypeFilter' != '') {
                    docLocation += "&type_filter=@ViewBag.TypeFilter";
                }
                
                document.location = docLocation
        }
        });
    });
</script>

<div class="PageNavigationBar">
    @if (Model.HasPreviousPage)
    {
        <div class="PageNavigationBtn">
            @Html.ActionLink("首页", "List", new { page_number = 1, order = ViewBag.CurrentOrder, 
           search = ViewBag.Search, pass_filter = ViewBag.PassFilter, search_option = ViewBag.SearchOption, type_filter = ViewBag.TypeFilter })
        </div>
        <div class="PageNavigationBtn">
            @Html.ActionLink("上一页", "List", new { page_number = Model.PageNumber - 1, order = ViewBag.CurrentOrder, 
           search = ViewBag.Search, pass_filter = ViewBag.PassFilter, search_option = ViewBag.SearchOption, type_filter = ViewBag.TypeFilter })
        </div>
    }

    <div class="PageNavigationBtn">
        @Html.TextBox("pageNumber", Model.PageNumber)
    </div>

    <div class="PageNavigationBtn">
        <span> / @Model.PageCount</span>
    </div>

    @if (Model.HasNextPage)
    {
        <div class="PageNavigationBtn">
            @Html.ActionLink("下一页", "List", new { page_number = Model.PageNumber + 1, order = ViewBag.CurrentOrder,
           search = ViewBag.Search, pass_filter = ViewBag.PassFilter, search_option = ViewBag.SearchOption, type_filter = ViewBag.TypeFilter })
        </div>
        <div class="PageNavigationBtn">
            @Html.ActionLink("尾页", "List", new { page_number = Model.PageCount, order = ViewBag.CurrentOrder,
           search = ViewBag.Search, pass_filter = ViewBag.PassFilter, search_option = ViewBag.SearchOption, type_filter = ViewBag.TypeFilter })
        </div>
    }

</div>