<script type="text/javascript">
    function search() {
        var docLocation = location.pathname + "?page_number=1";

        if ('@ViewBag.CurrentOrder' != '') {
            docLocation += "&order=@ViewBag.CurrentOrder";
        }
        if ('@ViewBag.PassFilter' != '') {
            docLocation += "&pass_filter=@ViewBag.PassFilter";
        }
        if ('@ViewBag.TypeFilter' != '') {
            docLocation += "&type_filter=@ViewBag.TypeFilter";
        }
        if ('@ViewBag.ClubId' != '') {
            docLocation += "&club_id=@ViewBag.ClubId";
        }
        if ('@ViewBag.BranchFilter' != '') {
            docLocation += "&branch_filter=@ViewBag.BranchFilter";
        }
        if ('@ViewBag.RoleFilter' != '') {
            docLocation += "&role_filter=@ViewBag.RoleFilter";
        }

        var search = $("#searchBox").val();

        docLocation += "&search_option=" + $("#SearchOptions").val();
        docLocation += "&search=" + search;

        document.location = docLocation;
    }

    $(function () {
        placeHolder($("#searchBox"), "PlaceHolder", null, "#searchBtn");
        $("#searchBtn").click(search);
    });
</script>

@if (!String.IsNullOrEmpty(ViewBag.Search))
{
    <div>
        <span>
            搜索“
        @ViewBag.Search
            ”的结果
        </span>
    </div>
}

<div class="OperationBtn">
    @Html.TextBox("searchBox", "请输入搜索内容")
    <a id="searchBtn" href="#">搜索</a>

    @if (!String.IsNullOrEmpty(ViewBag.Search))
    {
        @Html.ActionLink("返回", "List", new
   {
       page_number = 1,
       order = ViewBag.CurrentOrder,
       pass_filter = ViewBag.PassFilter,
       type_filter = ViewBag.TypeFilter,
       club_id = ViewBag.ClubId,
       branch_filter = ViewBag.BranchFilter,
       role_filter = ViewBag.RoleFilter
   })
}
</div>

@if (ViewBag.SearchOptions != null)
{
    <div class="OperationBtn">
        @Html.DropDownList("SearchOptions")
    </div>
}
