@model IPagedList<SCUTClubManager.Models.Event>
@{
    ViewBag.Title = ViewBag.ClubName + "活动列表";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Confirmation")

@Html.Partial("_EventStatusFilterBar")

<p>
    &nbsp;
</p>

@Html.Partial("_SearchBar")

<script type="text/javascript">
    $(function () {
        $(".CancelBtn").each(function (index, element) {
            confirmAjax(element, "确定要" + $(element).text() + "吗？", "Cancel", "id", function (data) {
                if (data.success) {
                    switch (data.operation) {
                        case "undo":
                            $(element).parent().parent().fadeOut();
                            break;
                        case "cancel":
                            if ("@ViewBag.PassFilter" != '') {
                                $(element).parent().parent().fadeOut();
                            } else {
                                $(element).parent().siblings(".EventStatus").text("已取消");
                                $(element).fadeOut();
                            }
                            break;
                        case "terminate":
                            if ("@ViewBag.PassFilter" != '') {
                                $(element).parent().parent().fadeOut();
                            } else {
                                $(element).parent().siblings(".EventStatus").text("已终止");
                                $(element).fadeOut();
                            }
                            break;
                    }
                }
            });
        });
    })
</script>

@if (ViewBag.ClubId != SCUTClubManager.Models.Application.ALL && 
    SCUTClubManager.BusinessLogic.ScmRoleProvider.HasMembershipIn(ViewBag.ClubId, null, new string[] { "会长" }))
{
    <div class="OperationBtn2">
        @Html.ActionLink("创建新活动", "Create", new { club_id = ViewBag.ClubId })
    </div>
}

<table class="ui-widget">
    <thead class="ui-widget-header">
    <tr>
        <th>
            @Html.ActionLink("活动名", "List", new
           {
               order = ViewBag.TitleOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("开始日期", "Scoring", new
           {
               order = ViewBag.StartDateOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("结束日期", "Scoring", new
           {
               order = ViewBag.EndDateOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("举办社团", "List", new
           {
               order = ViewBag.ClubNameOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("负责人", "List", new
           {
               order = ViewBag.OrganizerOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("状态", "List", new
           {
               order = ViewBag.StatusOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th>
            @Html.ActionLink("活动评分", "List", new
           {
               order = ViewBag.ScoreOrderOpt,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
        </th>
        <th></th>
    </tr>
        </thead>

    <tbody class="ui-widget-content">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new
           {
               page_number = ViewBag.PageNumber,
               id = item.Id,
               order = ViewBag.CurrentOrder,
               search = ViewBag.Search,
               search_option = ViewBag.SearchOption,
               pass_filter = ViewBag.PassFilter,
               club_id = ViewBag.ClubId
           }, new { @class = "NotButton" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.MajorInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiefEventOrganizer.Name)
            </td>
            <td class="EventStatus">
                @LabelHelpers.GetEventStatus(item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @{
        if (SCUTClubManager.BusinessLogic.ScmMembershipProvider.IsMe(item.ChiefEventOrganizerId) &&
            item.Status == SCUTClubManager.Models.Application.NOT_VERIFIED || item.Status == SCUTClubManager.Models.Application.NOT_SUBMITTED)
        {
                    <button type="button" class="CancelBtn" data-id="@item.Id">撤销</button>
        }
        else if (SCUTClubManager.BusinessLogic.ScmMembershipProvider.IsMe(item.ChiefEventOrganizerId) &&
        item.Status == SCUTClubManager.Models.Application.PASSED &&
        item.EndDate >= DateTime.Now)
        {
                    <button type="button" class="CancelBtn" data-id="@item.Id">取消</button>
        }
        else if (User.IsInRole("社联") && item.Status == SCUTClubManager.Models.Application.PASSED &&
    item.EndDate >= DateTime.Now)
        {
                    <button type="button" class="CancelBtn" data-id="@item.Id">终止</button>
        }
                }
            </td>
        </tr>
    }
        </tbody>

</table>

@Html.Partial("_PageNavigation")