@model SCUTClubManager.Models.Event
@{
    Layout = null;
}

<!DOCTYPE html>

<script type="text/javascript">
    $(function () {
        $("#subEvents").accordion({
            collapsible: true
        });
    })
</script>

<html>
<head>
</head>
<body>
    <div id="subEvents">
        @foreach (var item in Model.SubEvents)
        {
            <h3><span>@item.Title</span><span>@item.Date</span></h3>
            <div>
                <fieldset>
                    <legend>基本信息</legend>

                    <div class="display-label">
                        开始时间
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </div>
                    <div class="display-label">
                        结束时间
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </div>
                    <div class="display-label">
                        占用时间段
                    </div>
                    <div class="displayfield">
                        @foreach (var time in item.Times)
                        {
                            <div>
                                @Html.DisplayFor(t => time.TimeName)
                            </div>
                        }
                    </div>
                    <div class="display-label">
                        描述
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => item.Description.Description)
                    </div>
                </fieldset>

                <fieldset>
                    <legend>场地</legend>

                    <div class="display-field">
                        @if (item.LocationApplications != null)
                        {
                            foreach (var loc_app in item.LocationApplications)
                            {
                                if (loc_app.Locations != null)
                                {
                                    foreach (var location in loc_app.Locations)
                                    {
                            @Html.Raw("<div>")
                            @Html.DisplayFor(modelItem => location.Name)
                            @Html.Raw("</div>")
                            }
                            }
                        }
                        }
                    </div>
                </fieldset>

                <fieldset>
                    <legend>物资</legend>
                    <div class="display-field">
                        @if (item.AssetApplications != null)
                        {
                            foreach (var ass_app in item.AssetApplications)
                            {
                                if (ass_app.ApplicatedAssets != null)
                                {
                                    foreach (var asset in ass_app.ApplicatedAssets)
                                    {
                            @Html.Raw("<div>")
                            @Html.Raw("<span>")
                            @Html.DisplayFor(modelItem => asset.Asset.Name)
                            @Html.Raw("</span>")
                            @Html.Raw("<span>")
                            @:数量：
                            @Html.Raw("</span>")
                            @Html.Raw("<span>")
                            @Html.DisplayFor(modelItem => asset.Count)
                            @Html.Raw("</span>")
                            @Html.Raw("</div>")
                            }
                            }
                        }
                        }
                    </div>
                </fieldset>
            </div>
        }
    </div>
</body>
</html>
